$vegaOrange: rgb(255, 77, 33);
$vegaLightOrange: rgb(255, 111, 75);
$vegaDarkOrange: rgb(216, 50, 9);
$lightBlue: rgb(52, 186, 219);
$lightGray: rgb(241, 241, 241);
$darkGray: rgb(68, 68, 68);
$mellowGreen: rgb(186, 228, 222);
$green: rgb(16, 182, 104);